*{
    font-family: 'Alegreya Sans', sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.95);
    margin-left: 7rem;
    margin-right: 7rem;
    color: white;
    
}
.menu{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:rgb(29, 27, 27);
    border-radius: 20px;
}
.footer{
    bottom: 0;
    background-color:rgb(29, 27, 27);
    border-radius: 20px;
    height: 50px;
    position: relative;
    width: 100%;
}

/* css do linków */
a{
    color: rgba(114, 100, 100, 0.822);
    text-decoration: none;
    font-size: 1.4vw;
    transition: 0.5s;
}
a:hover{
    color: rgb(221, 175, 24);
    font-size: 1.5vw;
}
a p:hover{
    transition: 0.5s;
    font-size: 1.7vw;
}

/* css do głównych kafelków */
.main-containers{
    height: 23rem;
    background-color: rgba(75, 69, 69, 0.493);
    border-radius: 20px;
    transition: 0.5s;
}
.main-containers a{
    color: white;
}

.main-containers:hover{
    background-color: rgba(221, 175, 24, 0.904);
    color: black;
}
.main-containers a:hover{
    font-size: 1.5vw;
    color: black;
}
.main-containers svg{
    height: 60px;
    width: 60px;
    margin: 10px;
}

/* animacje dla ikonek :) */
svg:hover{
    animation: rotation 1s 1;
}
@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}


/* responsywność, zmiany zależne od wielkości ekranu urządzenia */
@media (min-width:1200px) {
    .fsize{
        font-size: 35px;
    }
    .fsizetext{
        font-size: 20px;
    }
}
@media (max-width:1199.98px) {
    .fsize{
        font-size: 27px;
    }
    .fsizetext{
        font-size: 15px;
    }
}
@media (max-width:800px) {
    .fsize{
        font-size: 23px;
    }
    .fsizetext{
        font-size: 12px;
    }
}
@media (max-width:600px) {
    .fsize{
        font-size: 15px;
    }
    .fsizetext{
        font-size: 10px;
    }
    .main-containers svg{
        width: 60%;
        height: 60%;
    }
}
@media (max-width:400px) {
    .fsize{
        font-size: 13px;
    }
    .fsizetext{
        font-size: 9px;
    }
    .main-containers svg{
        width: 50%;
        height: 50%;
    }
}

/* tekst w kontenerach */
.card-text{
    font-size: 20px;
}

/* slajder */
.swiper {
    width: 35%;
    height: 550px;
  }

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }